/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
	--mainBackground: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    --secondaryBackground: linear-gradient(105deg, #9d1cff 30%, #5e75f9 70%);
    --thirdBackground: rgba(255, 255, 255, 0.05);
    --fourthBackground: linear-gradient(135deg, #6a11cb 50%, #2575fc 500%);
    --primaryContent: #f8f8f8;
    --icons: rgb(31, 174, 200);
    --inputBackground: rgba(24, 108, 88, 0.258);
    --forumCommentBackground: linear-gradient(135deg, #772ac8 0%, #0f2a58 100%);
    --themeSwitchersBackground: #6a11cb;
    --themeSwitchersHandle: #f4f4f4;


    --successBackground: #00a43b;
    --successContent: #effcf3;

    --warningBackground: #f34700;
    --warningContent: #fff7ed;

    --errorBackground: #e50006;
    --errorContent: #fef2f2;
}

.darkMode{
    --mainBackground: linear-gradient(135deg, #3b0573 0%, #0a2c66 100%);
    --secondaryBackground: linear-gradient(105deg, #6300a1 30%, #394fa3 70%);
    --thirdBackground: rgba(0, 0, 0, 0.2);
    --fourthBackground: linear-gradient(135deg, #3b0573 50%, #0a2c66 100%);
    --primaryContent: #e0e0e0;
    --icons: rgb(20, 110, 130);
    --inputBackground: rgba(10, 40, 40, 0.35);
    --forumCommentBackground: linear-gradient(135deg, #4a0f7a 0%, #05193d 100%);
    --themeSwitchersBackground: #3b0573;
    --themeSwitchersHandle: #dcdcdc;

    --successBackground: #00a43b;
    --successContent: #effcf3;

    --warningBackground: #f34700;
    --warningContent: #fff7ed;

    --errorBackground: #e50006;
    --errorContent: #fef2f2;
}