ion-menu::part(backdrop) {
  --ion-background-color: var(--secondaryBase);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgb(224, 117, 117);
}

.list{
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;

  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

.page{
  --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
}

.page .menuButton{
    --background: var(--mainBase);
    --color: var(--baseContent);
}

.page-content{
  background-color: var(--mainBase);
  color: var(--baseContent);
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-transform: none;
  text-decoration: none;
  font-variant: normal;
}

.footer{
  --background: transparent;
  background: transparent;
  display: block;
  width: 100% !important;

  margin: 0 !important;
  padding: 0 !important;
}

.footerToolbar{
  --ion-background-color: var(--backupBase);
  --ion-text-color: var(--baseContent);
  padding: 0;
  margin: 0;
}

.footerItem{
  --ion-background-color: var(--secondaryBase);
  width: 100%;

  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;

  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

.logOutButton{
  --background: var(--secondaryBase);
  --color: var(--baseContent);
  width: 50%;
  margin-left: 25%;

  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;

  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

.header{
  --background: var(--secondaryBase);
  padding: 0;
  margin: 0;
}

.toolbar{
  --background: var(--secondaryBase);
  --color: var(--baseContent);
  padding: 0;
  margin: 0;
}

.divider{
  --background: var(--secondaryBase);
}

.menuItem{
  --background: var(--secondaryBase);
  
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;

  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

.icon-black-version{
  color: black !important;
  margin-right: 0.5em;
}