.page{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.backButton{

}

.title{
    font-weight: 900;
    color: aliceblue;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.content{
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    --background: transparent;
    animation: fadeInUp 1s ease forwards;
}

.loading{
    font-weight: 900;
    color: aliceblue;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.contentContainer{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.image{
    width: 100%;
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 4 8px 16px rgba(0,0,0,0.6);
}

.fabContainer{
    
}

.fabList{

}

.fabButton{

}

.icon{

}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.data{
    margin-left: 15px;
    font-weight: 600;
    color: aliceblue;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}