.page{
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
}

ion-header{
    padding-top: 20px;
}

.page-content{
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-transform: none;
    text-decoration: none;
    font-variant: normal;
}

.createButton,
.deleteButton,
.addButton,
.updateButton,
.cancelButton,
.saveButton{
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
    --box-shadow: 2px 0px 4px black;
    border-radius: 4px;
}

.dataRow{
    padding: 5px;
    margin: 0;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
    width: max-content;
}

.list, .list ion-item, .list ion-input, .dataColumn{
    padding: 12px;
    margin: 0;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
    border-radius: 2%;
    box-shadow: 2px 0px 4px black;
}

.outerContainer{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.innerContainer{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(700px, auto);
    overflow-x: auto;
}

.grid{
    width: 100%;
    display: block;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    border-bottom: 4px solid red !important;
}

.grid ion-row{
    display: flex;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nutrients{
    width: 250px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: none;
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
    text-decoration: none;
    font-variant: normal;
    min-height: 50px;
    border: 2px solid rgb(143, 52, 36);
    border-top: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.dateInput{
    --ion-background-color: var(--mainBase);
    --color: red;
    width: 250px;
    border-color: red;
    border-radius: 2%;
    box-shadow: 2px 0px 4px black;
}