.page{
    background-color: var(--mainBase);
    color: var(--baseContent);
}

ion-header{
    padding-top: 20px;
}

.page-content{
    background-color: var(--mainBase);
    color: var(--baseContent);
    align-items: center;
}

.page .page-content .title{
    --ion-text-color: var(--baseContent);
}

.page .page-content .form{
    background-color: var(--infoBackground);
    color: var(--baseContent);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 6px 6px 10px var(--importantBackground);
    padding: 20px;
}

.form ion-item{
    background-color: var(--infoBackground);
    color: var(--baseContent);
}

.form ion-item::part(native){
    background-color: var(--infoBackground);
    color: var(--baseContent);
}

.form ion-item ion-icon{
    color: var(--baseContent);
}

.form ion-input{
    background-color: var(--mainBase);
    color: var(--baseContent);
}

.form ion-button{
    padding: 6px 8px;
}

.form .button:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 7px black;
}

.introAgainButton{
    width: 100%;
}