.page{
  --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
}

.page-content{
  --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-transform: none;
  text-decoration: none;
  font-variant: normal;
}

.workoutGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 300px;
}