.page{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.backButton{

}

.content{
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    --background: transparent;
    animation: fadeInUp 1s ease forwards;
}

.grid{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.mainRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
}

.image{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: none;
    object-fit: cover;
}

.subRow{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.subCol{
    width: 100%;
}

.titleContainer{

}

.title{
    font-weight: 900;
    color: aliceblue;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.form{
    width: 100%;
    display: grid;
    gap: 1rem;
}

.icon{
    display: flex;
    align-items: center;
    color: rgb(31, 174, 200);
    font-size: 1.5rem;
    margin-left: 0.2rem;
    width: 20px;
    height: 20px;
}

.input{
    color: aliceblue;
    border-radius: 10%;
    --background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    --padding-start: 0;
    --padding-end: 0;
}

.item{
    --background: transparent;
    --border-color: transparent;
    --inner-border-width: 0;
    --highlight-height: 0;

    --padding-start: 0;
    --inner-padding-end: 0;

    margin-bottom: 1rem;
}

.input::part(native){
    color: #ffffff;
}

.buttonRow{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
}

.buttonCol{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registerButton{
    --background: linear-gradient(135deg, #9d1cff 0%, #5e75f9 100%);
    --background-hover: linear-gradient(135deg, #ffffff, #242628);
    font-size: 0.6rem;
    color: aliceblue;
    font-weight: 800;
}