.page{
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
}

ion-header{
    padding-top: 20px;
}

.page-content{
    --ion-background-color: var(--mainBase);
    --ion-text-color: var(--baseContent);
    align-items: center;
}

.page .backButton{
    --background: var(--mainBase);
    --color: var(--baseContent);
}

.form{
    --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 7px black;
    padding: 20px;
}

.form ion-item{
    --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
    padding: 5px;
}

.form ion-item::part(native){
    --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
}

.form ion-item ion-icon{
    --ion-text-color: var(--baseContent);
}

.form ion-input{
    --ion-background-color: var(--mainBase);
  --ion-text-color: var(--baseContent);
}

.form ion-button{
    padding: 6px 8px;
    
}

.form ion-button:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 7px black;
}