.page{
    background: linear-gradient(20deg, #121212 39%, #4d4d4d 93%);
    color: #ff0000;
}

ion-header{
    padding-top: 20px;
}

.page-content{
    --background: linear-gradient(20deg, #121212 39%, #4d4d4d 93%);
    --color: #ff0000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-shadow: 0 3em 10em rgba(0, 0, 0, 0.7);
}

.content .list{
    width: 100%;
    min-width: 300px;
    max-width: 1200px;

    height: 100px;
    min-height: 300px;
    max-height: 1200px;
    
    background: linear-gradient(90deg,rgb(35, 11, 11) 30%, rgb(5, 0, 0) 88%);
    border-color: #e09393;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0 3em 10em rgba(0, 0, 0, 0.7);
}

ion-select{
    margin-bottom: 40px;
}
