.page{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background: var(--mainBackground);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header{
    padding-top: 25px;
}

.title{
    font-weight: 900;
    color: var(--primaryContent);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    text-align: right;
}

.content{
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    --background: transparent;
    animation: fadeInUp 1s ease forwards;
}

.loading{
    font-weight: 900;
    color: var(--primaryContent);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
}

.dataContainer{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 10px;
    --background: var(--mainBackground);
}

.avatar{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label{
    font-weight: 600;
    font-size: 1rem;
    color: var(--primaryContent);
}